.container {
    padding: 36px 96px 24px 96px;
}
.headergrid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headerlogo {
    height: 36px;
    width: 36px;
    position: relative;
}
.headerBrand {
    color: #000;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1px;
    margin-left: 90%;
}
.headerIconsGrid {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}
.headerIcons {
    height: 24px;
    width: 24px;
    position: relative;
}
.dropdown {
    height: 16px;
    width: 16px;
    position: relative;
}
.lang {
    color: var(--Text-Text, #252020);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}
.menuItemGrid {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: center;
}
.menuItemGrid h3 {
    color: var(--Text-Text, #252020);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}
.mobile{
    display: none;
}
@media screen and (max-width: 767px) {
    .container{
        padding: 16px 
   }
    .headerlogo {
        height: 20px;
        width: 20px;
   }
    .headerBrand{
        font-size: 20px;
        margin-left: 0%;
   }
    .headerIconsGrid{
        gap: 12px;
   }
    .headerIcons {
        height: 20px;
        width: 20px;
   }
    .mob{
        display: none;
   }
    .mobile{
        display: block;
   }
    .menuItemGrid{
        display: none;
   }
}
/* tab view */
@media screen and (min-width:768px) and (max-width:1024px) {
    .container{
        padding: 48px 4.796%;
   }
    .menuItemGrid{
        padding-top: 38px;
   }
}
