.container {
    padding: 72px 96px 48px 96px;
    max-width: 1500px;
    margin: 0 auto;
}
.heading h1 {
    color: var(--Misc-Text, #252020);
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.subheading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 16px;
}
.subheading p {
    color: var(--Text-Text, #252020);
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    width: 60%;
    padding-bottom: 72px;
}
.details {
    padding: 24px 0px;
    display: flex;
    justify-content: space-between;
}
.details p {
    color: var(--Text-Text, #252020);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
   /* 222.222% */
    text-transform: uppercase;
}
.hr {
    height: 0px;
    color: #F1F1F1;
    background: #F1F1F1;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
.hrList {
    height: 0px;
    color: #F1F1F1;
    background: #F1F1F1;
    width: 100%;
    margin: 24px 0px 24px 0px;
}
.customDropdown {
    position: relative;
    width: auto;
    border: none;
    color: var(--Text-Text, #252020);
    background: transparent;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
}
.customDropdown select {
    background: #FFF;
    cursor: pointer;
    font-size: 18px;
    color: yellow;
}
/* Style the dropdown options */
.customDropdown option {
    background-color: #fff;
    box-shadow: 0px 0px 7px 1px rgba(163, 170, 175, 0.20);
    border: none;
    color: #333;
    width: 235px ;
    font-size: 18px;
    font-weight: 400;
}
/* tab view */
@media screen and (min-width:768px) and (max-width:1024px) {
    .container {
        padding: 48px 4.796%;
   }
    .heading h1 {
        font-size: 48px;
   }
    .subheading p {
        font-size: 20px;
        width: auto;
        padding-bottom: 48px;
   }
}
/* mobile view */
@media screen and (max-width: 767px) {
    .container {
        padding: 24px 16px;
   }
    .heading h1 {
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
   }
    .subheading p {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        width: auto;
        padding-bottom: 16px;
   }
    .details{
        justify-content: space-around;
        padding: 12px 0px;
   }
    .details p {
        font-size: 14px;
   }
    .customDropdown{
        font-size: 14px;
   }
}
@media screen and (max-width:767px) {
    .web {
        display: none;
   }
    .mob {
        display: block;
   }
}
@media screen and (min-width:768px) {
    .web {
        display: block;
   }
    .mob {
        display: none;
   }
}
